/* WHOLE SITE */
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap");

body,
html {
  background-color: #bac1bf !important;
  z-index: -2;
}

h1, h2, h3, h4, h5, h6, span {
  font-family: "Lora", serif !important;
}

.input-labels {
  letter-spacing: 0.1em;
  color: whitesmoke
}

/* HEADER */
#header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  font-family: "Lora", serif !important;
  background: #e6e6e6;
}

#logo {
  position: absolute;
  left: 50px;
  bottom: 20px;
  font-size: 56px;
  z-index: 2;
}

#hfirst {
  color: #88a65e
}

#hsecond {
  color: #e8b704
}

#yellow_divider {
  position: absolute;
  left: 100px;
  bottom: -23px;
  height: 5px;
  width: 6000px;
  background-color: #e8b704;
}

#green_divider {
  position: absolute;
  left: -50px;
  bottom: -30px;
  height: 10px;
  width: 6000px;
  background-color: #88a65e;
  z-index: -1;
}

/* NAVBAR */
#links {
  position: absolute;
  right: 30px;
  top: 70px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: calc(95vw - 270px);
}

#small_links {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
}

#links a {
  color: #e8b704;
  font-size: 2vw;
}

#myrequest-home-link {
  margin-top: -10px;
  font-size: 2.5vw !important;
}

#welcome-and-logout {
  position: absolute;
  top: 130px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  width: 50%
}

#welcome-and-logout > * {
  font-family: "Lora", serif;
  margin: 0 20px;
}

/* FORMS */
.form-container {
  margin-top: 200px;
  padding: 20px 0;
  width: 25vw !important;
  border-radius: 4%;
  text-align: center;
  background-color: #88a65e;
}

#login-form,
#newRequest-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#submit-btn {
  background-color: #e8b704;
  color: white;
  font-family: "Lora", serif;
  border-radius: 5px;
  margin: 5px;
  width: 100px !important;
  letter-spacing: 0.1em;
  text-align: center;
  cursor: pointer;
}

input,
textarea {
  font-family: "Lora", serif;
  border-radius: 5px;
  border-color: #88a65e;
  background-color: #e6e6e6;
  color: #88a65e;
  margin-bottom: 10px;
  width: 20vw !important;
}

textarea {
  height: 130px;
}

#message {
  color: rgb(230, 230, 230);
}

/* HOME PAGE - BROWSE REQUESTS */
#qcards {
  margin-top: 180px;
}