@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap");

body,
html {
  background-color: #bac1bf !important;
}

#header {
  width: 100%;
  position: fixed;
  background: #e6e6e6;
  padding: 0;
  top: 0;
  height: 10vh;
}

#hfirst {
  font-size: 56px;
  font-family: "Lora", serif;
  color: #88a65e;
}

#hsecond {
  font-size: 56px;
  font-family: "Lora", serif;
  color: #e8b704;
}

h1 {
  font-family: "Lora", serif;
  color: #e8b704;
}

h4, 
.input-labels {
  font-family: "Lora", serif;
  color: white;
  letter-spacing: 0.1em;
}

#submit,
#login  {
  background-color: #e8b704;
  color: white;
  font-family: "Lora", serif;
  border-color: #e8b704;
  border-radius: 5px;
  margin: 2vw;
  width: 10vw;
  text-align: center;
  letter-spacing: 0.1em;
}

input,
textarea {
  font-family: "Lora", serif;
  border-radius: 5px;
  border-color: #88a65e;
  background-color: #e6e6e6;
  color: #88a65e;
  margin-bottom: 10px;
  width: 15vw;
  
}

textarea {
  height: 130px;
}
#login-grid {
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lora", serif !important;
}
.newQuest-container {
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lora", serif !important;
}

.login-container,
.newQuest-container {
  margin-top: 15vh;
  margin-left: auto;
  margin-right: auto;
  background-color: #88a65e;
  font-family: "Lora", serif;
  border-radius: 5%;
  color: #e8b704;
  text-align: center;
  
}

#message {
  color: #88a65e;
}

#Logout {
  padding-left: 5vw;
}

#greeting {
  padding-top: 2vh;
  text-align: center;
}

#myrequest-btn {
  font-family: "Lora", serif;
  color: #e8b704;
  font-size: larger;
  float: right;
}
