/* WHOLE SITE */
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap");

body,
html {
  background-color: #bfcab1 !important;
  z-index: -2;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "Lora", serif !important;
}

.input-labels {
  letter-spacing: 0.1em;
  color: whitesmoke;
}

#page-container {
  margin-top: 200px;
  display: flex;
  padding: 0px 50px;
  width: 100vw;
  position: absolute;
}

#page-container h2 {
  position: absolute;
  margin-top: -30px;
  color: #7cac5a;
  font-size: 185%;
  text-align: center;
}

.ui.cards {
  height: fit-content;
  margin: 0px !important;
}

.ui.card {
  background-color: #fafafa !important;
  height: fit-content;
  margin: 10px;
  padding-bottom: 8px !important;
}

.ui.card .description {
  max-height: 40vh;
  overflow: auto;
}

.ui.card .header {
  max-width: 80%;
}

/* HEADER */
#header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  font-family: "Lora", serif !important;
  background: linear-gradient(#456034, #355024);
  box-shadow: -2px 0px 5px #444;
}

#logo {
  position: absolute;
  left: 50px;
  bottom: 23px;
  font-size: 56px;
  z-index: 2;
}

#hfirst {
  color: #7cac5a;
  text-shadow: 1px -1px 0 rgb(160, 220, 76);
}

#hsecond {
  color: #f4c315;
  text-shadow: 1px -1px 0 #ffec7e;
}

#yellow_divider {
  position: absolute;
  left: 100px;
  bottom: -23.5px;
  height: 4.5px;
  width: 6000px;
  background-color: #f4c315;
  box-shadow: 0 -1.8px 0 #ffde67;
  z-index: 2;
}

#green_divider {
  position: absolute;
  left: -50px;
  bottom: -23.5px;
  height: 4px;
  width: 6000px;
  background-color: #7cac5a;
  z-index: -1;
  box-shadow: 1px -1px 0 rgb(143, 199, 65);
}

/* NAVBAR */
#links {
  position: absolute;
  right: 30px;
  top: 67px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: calc(95vw - 300px);
}

#small_links a {
  padding: 10px 20px;
  border-radius: 5px;
  color: #f4c315;
  font-size: 20px;
}

.inactiveTab:hover {
  opacity: 0.8 !important;
}

.activeTab {
  position: relative;
  background-color: #f4c315; 
  box-shadow: 2px -1px 0 #ffde67;
  color: #355720 !important;
  text-shadow: 0px 0px 0 #fff;
  z-index: 10;
}

#myrequest-home-link {
  margin-top: -10px;
  color: #f4c315;
  font-size: 35px;
  text-shadow: 0.7px -0px 0 #ffde67;
}

#myrequest-home-link:hover {
  transform: scale(1.1);
  color: #fec804;
}

#welcome-and-logout {
  position: absolute;
  top: 130px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

#welcome-and-logout > * {
  font-family: "Lora", serif;
  margin: 0 20px;
}

#points-display {
  height: 50px;
  width: 50px;
  background-color: #f4c315;
  border-radius: 50%;
  box-shadow: 2px 0px 0 #ffde67;
  margin: -30px 0;
}
#karma-points-amount {
  color: #355720;
  text-align: center;
  line-height: 50px;
  font-family: "Lora", serif;
}

/* FORMS */
.form-container {
  padding: 20px 0;
  width: 25vw !important;
  border-radius: 4%;
  text-align: center;
  background-color: #7cac5a;
  border: 1px solid #f4c315;
}

#login-form,
#signup-form,
#newRequest-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#submit-btn {
  background-color: #f4c315;
  border: 1px solid #ffde67;
  color: whitesmoke;
  font-family: "Lora", serif;
  border-radius: 5px;
  margin: 5px;
  width: 100px !important;
  letter-spacing: 0.1em;
  text-align: center;
  cursor: pointer;
}

input,
textarea {
  font-family: "Lora", serif;
  border-radius: 5px;
  border-color: #7cac5a;
  background-color: #e6e6e6;
  color: #7cac5a;
  margin-bottom: 10px;
  width: 20vw !important;
}

textarea {
  height: 130px;
}

#signup {
  height: fit-content;
  color: whitesmoke;
}

#signup:hover {
  color: #f4c315;
}

#message {
  color: rgb(230, 230, 230);
}

/* HOME PAGE - BROWSE REQUESTS */

/* 
#qcards > * {
  height: "initial";
} */

#categories {
  font-family: "Lora", serif;
  font-size: 24px;
  color: whitesmoke;
  background-color: #7cac5a;
  height: fit-content;
  text-align: center;
  cursor: pointer;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #f4c315;
  margin-right: 50px;
}

#categories .item:hover {
  opacity: 0.75;
}

.active {
  color: #f4c315;
  text-shadow: 1px 0px 0 #ffec7e;
}

#browse-title {
  text-align: center;
  margin-left: 10px;
  text-shadow: 1px -0.5px 0 rgb(160, 220, 76);
}

#list-wrapper {
  overflow: auto;
  height: calc(90vh - 178px);
}

#specific-component {
  background-color: #eee;
  border: 3px #7cac5a solid;
  padding: 4px;
  margin-left: 50px;
  height: calc(85vh - 178px);
  position: relative;
  box-shadow: 1px 1px 3px #44444444;
}

#selected-message .content {
  max-width: 130px;
}

#message-component {
  background-color: #eee;
  border: 3px #7cac5a solid;
  padding: 4px;
  height: fit-content;
  position: relative;
}
#message-component-send {
  background-color: #eee;
  border: 3px #7cac5a solid;
  padding: 4px;
  height: calc(60vh - 178px);
  position: relative;
}

#about-title {
  margin-bottom: 0px;
  font-size: x-large;
  text-align: center;
 
}

#about-byline {
  margin-top: 0px;
  text-align: center;
}

#about-body {
  text-align: justify;
  color: #333;
  padding: 10px;
}

#about-request {
  font-size: 110%;
  overflow: auto;
  height: 100%;
  overflow: auto;
  width: 300px !important;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  cursor: all-scroll;
}

#about-request::-webkit-scrollbar {
  display: none; /* Chrome */
}

#about-request h3 {
  color: #7cac5a;
}

#description-wrapper {
  overflow: auto;
  height: calc((95vh - 178px) / 2);
  font-size: 80%;
}

#selected-request,
#message-container {
  font-size: 130%;
  color: #606060;
  padding: 7px;
  width: 300px !important;
  margin-bottom: 65px;
}

#selected-requester {
  margin-top: 5px;
}

#selected-description {
  margin-bottom: 5px;
}
#offerMessage {
  font-size: 90%;
  color: #606060;
  padding: 10px;
}
#send-message-form {
  padding: 10px;
  padding-top: 7px;
}
#contact-button,
#disabled-contact-button,
#message-send-btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: whitesmoke;
  background-color: #7cac5a;
  font-weight: 700;
  font-size: 100%;
}

#disabled-contact-button {
  background-color: #bac1bf;
}

#selected-title,
#createOffer-label {
  max-width: 230px;
  font-weight: 700;
}

.reward {
  position: absolute;
  right: 4px;
  top: 4px;
  height: fit-content;
  background-color: #f4c315;
  border: 6px solid transparent;
  color: whitesmoke !important;
  font-weight: 700;
}

/* MYREQUEST PAGES */
#menu-container {
  display: flex;
}

#menu {
  display: flex;
  flex-direction: column;
}

#vertical-line {
  height: 100%;
  width: 5px;
  background-color: #7cac5a;
}

#create-request {
  color: whitesmoke;
  background-color: #7cac5a;
  font-family: "Lora", serif;
  color: whitesmoke;
  font-weight: 700;
  padding: 18px;
  font-size: 150%;
  border: 1px solid #f4c315;
}

#create-request:hover {
  color: #f4c315;
}

#no-requests-message {
  color: whitesmoke;
  font-size: 1vw; 
  width: 100%;
}

.activeMenuItem {
  background-color: #7cac5a !important;
  color: whitesmoke !important;
}

#pending-link,
#active-link,
#completed-link {
  font-family: "Lora", serif;
  font-size: larger;
  text-align: center;
  color: #7cac5a;
  margin: 0 -4px;
  width: 170px;
  padding: 10px 15px 10px 20px;
  background-color: transparent;
  cursor: pointer;
}

#pending-link:hover,
#active-link:hover,
#completed-link:hover {
  color: #e6e6e6;
}

#leftmost-component {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#middle-left-component {
  margin-left: 40px;
  max-height: 60vh;
  overflow: auto;
}

#middle-right-component {
  margin-left: 40px;
}

#my-list {
  width: 250px;
  margin-left: 20px;
}

#offers {
  display: flex;
  flex-direction: column;
  background-color: #7cac5a;
  padding: 5px 10px;
  color: whitesmoke;
}

#offers > div {
  margin-bottom: 30px;
}

#message, 
#completed-message {
  margin-top: 15px;
  text-align: center;
  font-size: larger;
  color: whitesmoke !important;
  font-family: "Lora", serif;
}

#quest-completed,
#quest-reply {
  color: whitesmoke;
  background-color: #7cac5a;
}